services:
  builder:
    image: epymodelingsuite:local
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: local
    volumes:
      - ./local:/data    # Mount local directory as /data
    env_file:
      - .env.local
    environment:
      - EXECUTION_MODE=local
      - EXP_ID=${EXP_ID}
      - RUN_ID=${RUN_ID}
    entrypoint: ["/bin/bash", "/scripts/run_builder.sh"]
    # Default args (can be overridden with: docker compose run builder --myarg foo)
    command: []

  runner:
    image: epymodelingsuite:local
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: local
    volumes:
      - ./local:/data    # Mount local directory as /data
    env_file:
      - .env.local
    environment:
      - EXECUTION_MODE=local
      - TASK_INDEX=${TASK_INDEX:-0}
      - EXP_ID=${EXP_ID}
      - RUN_ID=${RUN_ID}
    entrypoint: ["python", "/scripts/main_runner.py"]
    # Additional args can be passed with: docker compose run runner [args]
    command: []
