project_id           = "your-project-id"
region               = "us-central1"
repo_name            = "epymodelingsuite-repo"
bucket_name          = "your-bucket-name"
image_name           = "epymodelingsuite"
image_tag            = "latest"
github_forecast_repo = "username/reponame"
